.searchbox-title {
    color: rgb(253, 0, 0);
    font-weight: 500;
    margin: 10px;
    margin-right: 10px;
    font-size: 18px;
}

.searchbox-dropdown {
    padding: 2px;
    margin: 3px;
    font-size: 18px;
    border-radius: 4px;
    box-shadow: 2px 2px 2px rgb(191, 191, 191);
}

.filter-btn {
    font-size: 16px;
    margin-bottom: 5px;
    margin-left: 5px;
}