.trekdetails-title{
    text-shadow: 2px 2px 2px rgb(242, 149, 149);
    margin: 5px;
    padding: 5px;
    width: auto;
}

.trekdetail-ul{
    list-style-type: none;
    /* width: 600px; */
    min-width: auto;
    margin: auto;
}

.trekdetail-li{
    border: 2px solid black;
    border-radius: 4px;
    box-shadow: 2px 2px 2px rgb(246, 227, 227);
    padding: 5px;
    margin-top: 10px;
    font-weight: 500;
    background-color:  rgb(219 213 213);
}

.trekdetail-subtitle{
    font-size: 20px;
    color: red;
    margin-right: 20px;
}

.trekdetail-info{
    font-size: 14px;
    color: black;
}